In [1]:
import sqlite3 as sql

In [2]:
conn = sql.connect('database/HotelDB.db')

In [3]:
cur = conn.cursor()

In [40]:
cur.execute('SELECT * from rooms')
rooms_avail = cur.fetchall()

In [42]:
len(rooms_avail)

350

#### Inserting 200 single rooms (One bed, 2 person capacity)

In [21]:
for i in range (1, 201):
    basic_room = (i, 'Single', 2)
    cur.execute('INSERT INTO rooms VALUES {}'.format(basic_room))

In [22]:
conn.commit()

#### Inserting 100 double rooms (Two beds, 4 person capacity)

In [23]:
for i in range (201, 301):
    double_room = (i, 'Double', 4)
    cur.execute('INSERT INTO rooms VALUES {}'.format(double_room))

In [24]:
conn.commit()

#### Inserting 50 double rooms (Three beds, 6 person capacity)

In [5]:
for i in range (301, 351):
    deluxe_room = (i, 'Deluxe', 6)
    cur.execute('INSERT INTO rooms VALUES {}'.format(deluxe_room))

In [6]:
conn.commit()

In [11]:
i = 0
for row in cur.execute('SELECT * from rooms'):
    print(row)

(1, 'Single', 2)
(2, 'Single', 2)
(3, 'Single', 2)
(4, 'Single', 2)
(5, 'Single', 2)
(6, 'Single', 2)
(7, 'Single', 2)
(8, 'Single', 2)
(9, 'Single', 2)
(10, 'Single', 2)
(11, 'Single', 2)
(12, 'Single', 2)
(13, 'Single', 2)
(14, 'Single', 2)
(15, 'Single', 2)
(16, 'Single', 2)
(17, 'Single', 2)
(18, 'Single', 2)
(19, 'Single', 2)
(20, 'Single', 2)
(21, 'Single', 2)
(22, 'Single', 2)
(23, 'Single', 2)
(24, 'Single', 2)
(25, 'Single', 2)
(26, 'Single', 2)
(27, 'Single', 2)
(28, 'Single', 2)
(29, 'Single', 2)
(30, 'Single', 2)
(31, 'Single', 2)
(32, 'Single', 2)
(33, 'Single', 2)
(34, 'Single', 2)
(35, 'Single', 2)
(36, 'Single', 2)
(37, 'Single', 2)
(38, 'Single', 2)
(39, 'Single', 2)
(40, 'Single', 2)
(41, 'Single', 2)
(42, 'Single', 2)
(43, 'Single', 2)
(44, 'Single', 2)
(45, 'Single', 2)
(46, 'Single', 2)
(47, 'Single', 2)
(48, 'Single', 2)
(49, 'Single', 2)
(50, 'Single', 2)
(51, 'Single', 2)
(52, 'Single', 2)
(53, 'Single', 2)
(54, 'Single', 2)
(55, 'Single', 2)
(56, 'Single', 2)
(57, 'Single', 2)
(58, 'Single', 2)
(59, 'Single', 2)
(60, 'Single', 2)
(61, 'Single', 2)
(62, 'Single', 2)
(63, 'Single', 2)
(64, 'Single', 2)
(65, 'Single', 2)
(66, 'Single', 2)
(67, 'Single', 2)
(68, 'Single', 2)
(69, 'Single', 2)
(70, 'Single', 2)
(71, 'Single', 2)
(72, 'Single', 2)
(73, 'Single', 2)
(74, 'Single', 2)
(75, 'Single', 2)
(76, 'Single', 2)
(77, 'Single', 2)
(78, 'Single', 2)
(79, 'Single', 2)
(80, 'Single', 2)
(81, 'Single', 2)
(82, 'Single', 2)
(83, 'Single', 2)
(84, 'Single', 2)
(85, 'Single', 2)
(86, 'Single', 2)
(87, 'Single', 2)
(88, 'Single', 2)
(89, 'Single', 2)
(90, 'Single', 2)
(91, 'Single', 2)
(92, 'Single', 2)
(93, 'Single', 2)
(94, 'Single', 2)
(95, 'Single', 2)
(96, 'Single', 2)
(97, 'Single', 2)
(98, 'Single', 2)
(99, 'Single', 2)
(100, 'Single', 2)
(101, 'Single', 2)
(102, 'Single', 2)
(103, 'Single', 2)
(104, 'Single', 2)
(105, 'Single', 2)
(106, 'Single', 2)
(107, 'Single', 2)
(108, 'Single', 2)
(109, 'Single', 2)
(110, 'Single', 2)
(111, 'Single', 2)
(112, 'Single', 2)
(113, 'Single', 2)
(114, 'Single', 2)
(115, 'Single', 2)
(116, 'Single', 2)
(117, 'Single', 2)
(118, 'Single', 2)
(119, 'Single', 2)
(120, 'Single', 2)
(121, 'Single', 2)
(122, 'Single', 2)
(123, 'Single', 2)
(124, 'Single', 2)
(125, 'Single', 2)
(126, 'Single', 2)
(127, 'Single', 2)
(128, 'Single', 2)
(129, 'Single', 2)
(130, 'Single', 2)
(131, 'Single', 2)
(132, 'Single', 2)
(133, 'Single', 2)
(134, 'Single', 2)
(135, 'Single', 2)
(136, 'Single', 2)
(137, 'Single', 2)
(138, 'Single', 2)
(139, 'Single', 2)
(140, 'Single', 2)
(141, 'Single', 2)
(142, 'Single', 2)
(143, 'Single', 2)
(144, 'Single', 2)
(145, 'Single', 2)
(146, 'Single', 2)
(147, 'Single', 2)
(148, 'Single', 2)
(149, 'Single', 2)
(150, 'Single', 2)
(151, 'Single', 2)
(152, 'Single', 2)
(153, 'Single', 2)
(154, 'Single', 2)
(155, 'Single', 2)
(156, 'Single', 2)
(157, 'Single', 2)
(158, 'Single', 2)
(159, 'Single', 2)
(160, 'Single', 2)
(161, 'Single', 2)
(162, 'Single', 2)
(163, 'Single', 2)
(164, 'Single', 2)
(165, 'Single', 2)
(166, 'Single', 2)
(167, 'Single', 2)
(168, 'Single', 2)
(169, 'Single', 2)
(170, 'Single', 2)
(171, 'Single', 2)
(172, 'Single', 2)
(173, 'Single', 2)
(174, 'Single', 2)
(175, 'Single', 2)
(176, 'Single', 2)
(177, 'Single', 2)
(178, 'Single', 2)
(179, 'Single', 2)
(180, 'Single', 2)
(181, 'Single', 2)
(182, 'Single', 2)
(183, 'Single', 2)
(184, 'Single', 2)
(185, 'Single', 2)
(186, 'Single', 2)
(187, 'Single', 2)
(188, 'Single', 2)
(189, 'Single', 2)
(190, 'Single', 2)
(191, 'Single', 2)
(192, 'Single', 2)
(193, 'Single', 2)
(194, 'Single', 2)
(195, 'Single', 2)
(196, 'Single', 2)
(197, 'Single', 2)
(198, 'Single', 2)
(199, 'Single', 2)
(200, 'Single', 2)
(201, 'Double', 4)
(202, 'Double', 4)
(203, 'Double', 4)
(204, 'Double', 4)
(205, 'Double', 4)
(206, 'Double', 4)
(207, 'Double', 4)
(208, 'Double', 4)
(209, 'Double', 4)
(210, 'Double', 4)
(211, 'Double', 4)
(212, 'Double', 4)
(213, 'Double', 4)
(214, 'Double', 4)
(215, 'Double', 4)
(216, 'Double', 4)
(217, 'Double', 4)
(218, 'Double', 4)
(219, 'Double', 4)
(220, 'Double', 4)
(221, 'Double', 4)
(222, 'Double', 4)
(223, 'Double', 4)
(224, 'Double', 4)
(225, 'Double', 4)
(226, 'Double', 4)
(227, 'Double', 4)
(228, 'Double', 4)
(229, 'Double', 4)
(230, 'Double', 4)
(231, 'Double', 4)
(232, 'Double', 4)
(233, 'Double', 4)
(234, 'Double', 4)
(235, 'Double', 4)
(236, 'Double', 4)
(237, 'Double', 4)
(238, 'Double', 4)
(239, 'Double', 4)
(240, 'Double', 4)
(241, 'Double', 4)
(242, 'Double', 4)
(243, 'Double', 4)
(244, 'Double', 4)
(245, 'Double', 4)
(246, 'Double', 4)
(247, 'Double', 4)
(248, 'Double', 4)
(249, 'Double', 4)
(250, 'Double', 4)
(251, 'Double', 4)
(252, 'Double', 4)
(253, 'Double', 4)
(254, 'Double', 4)
(255, 'Double', 4)
(256, 'Double', 4)
(257, 'Double', 4)
(258, 'Double', 4)
(259, 'Double', 4)
(260, 'Double', 4)
(261, 'Double', 4)
(262, 'Double', 4)
(263, 'Double', 4)
(264, 'Double', 4)
(265, 'Double', 4)
(266, 'Double', 4)
(267, 'Double', 4)
(268, 'Double', 4)
(269, 'Double', 4)
(270, 'Double', 4)
(271, 'Double', 4)
(272, 'Double', 4)
(273, 'Double', 4)
(274, 'Double', 4)
(275, 'Double', 4)
(276, 'Double', 4)
(277, 'Double', 4)
(278, 'Double', 4)
(279, 'Double', 4)
(280, 'Double', 4)
(281, 'Double', 4)
(282, 'Double', 4)
(283, 'Double', 4)
(284, 'Double', 4)
(285, 'Double', 4)
(286, 'Double', 4)
(287, 'Double', 4)
(288, 'Double', 4)
(289, 'Double', 4)
(290, 'Double', 4)
(291, 'Double', 4)
(292, 'Double', 4)
(293, 'Double', 4)
(294, 'Double', 4)
(295, 'Double', 4)
(296, 'Double', 4)
(297, 'Double', 4)
(298, 'Double', 4)
(299, 'Double', 4)
(300, 'Double', 4)
(301, 'Deluxe', 6)
(302, 'Deluxe', 6)
(303, 'Deluxe', 6)
(304, 'Deluxe', 6)
(305, 'Deluxe', 6)
(306, 'Deluxe', 6)
(307, 'Deluxe', 6)
(308, 'Deluxe', 6)
(309, 'Deluxe', 6)
(310, 'Deluxe', 6)
(311, 'Deluxe', 6)
(312, 'Deluxe', 6)
(313, 'Deluxe', 6)
(314, 'Deluxe', 6)
(315, 'Deluxe', 6)
(316, 'Deluxe', 6)
(317, 'Deluxe', 6)
(318, 'Deluxe', 6)
(319, 'Deluxe', 6)
(320, 'Deluxe', 6)
(321, 'Deluxe', 6)
(322, 'Deluxe', 6)
(323, 'Deluxe', 6)
(324, 'Deluxe', 6)
(325, 'Deluxe', 6)
(326, 'Deluxe', 6)
(327, 'Deluxe', 6)
(328, 'Deluxe', 6)
(329, 'Deluxe', 6)
(330, 'Deluxe', 6)
(331, 'Deluxe', 6)
(332, 'Deluxe', 6)
(333, 'Deluxe', 6)
(334, 'Deluxe', 6)
(335, 'Deluxe', 6)
(336, 'Deluxe', 6)
(337, 'Deluxe', 6)
(338, 'Deluxe', 6)
(339, 'Deluxe', 6)
(340, 'Deluxe', 6)
(341, 'Deluxe', 6)
(342, 'Deluxe', 6)
(343, 'Deluxe', 6)
(344, 'Deluxe', 6)
(345, 'Deluxe', 6)
(346, 'Deluxe', 6)
(347, 'Deluxe', 6)
(348, 'Deluxe', 6)
(349, 'Deluxe', 6)
(350, 'Deluxe', 6)

#### Reservations

In [29]:
for row in (cur.execute('select * from reservations')):
    print(row)

('Daniel', 'Silva', 'FALSE', 'FALSE', 'FALSE', 4842642995, 'dan@yahoo.com', 9142019, 9172019, 1)

#### Availability Search Query

In [26]:
single_count = 0
double_count = 0
deluxe_count = 0
num_guests = 1
date_in = 9152019
date_out = 9162019

query = ('select * from rooms where '
             '{} <= capacity and not exists '
                 '(select 1 from Reservations where '
                     'Rooms.Number = Reservations.Room_Num '
                         'and' 
                            '({} between Check_In and Check_Out '
                            'or ' 
                            '{} between Check_In and Check_Out '
                            'or '
                            'Check_In between {} and {} '
                            'or ' 
                            'Check_Out between {} and {}))'.format(num_guests, date_in, date_out, date_in, date_out, date_in, date_out))
           
for row in cur.execute(query):
    if row[1] == 'Single':
        single_count += 1
    elif row[1] == 'Double':
        double_count += 1
    elif row[1] == 'Deluxe':
        deluxe_count += 1

print('Singles: {} Doubles: {} Deluxe: {}'.format(single_count, double_count, deluxe_count))

Singles: 199 Doubles: 100 Deluxe: 50

In [7]:
conn.close()

In [6]:
data = ('Test_first', 'test_last', 'TRUE', 'TRUE', 'TRUE', 4847449481, 'TESTemail@yahoo.com', 9262019, 10012019, 45)
cur.execute('INSERT INTO reservations VALUES {}'.format(data))

In [8]:
cur.execute('SELECT * from reservations')
for temp in cur.fetchall():
    print(temp)

('Daniel', 'Silva', 'FALSE', 'FALSE', 'FALSE', 4842642995, 'dan@yahoo.com', 9142019, 9172019, 1)
('Test_first', 'test_last', 'TRUE', 'TRUE', 'TRUE', 4847449481, 'TESTemail@yahoo.com', 9262019, 10012019, 45)

In [13]:
cur.execute('SELECT "First Name", "Last Name" from reservations')
for temp in cur.fetchall():
    print(temp[0:7])

('Daniel', 'Silva')
('Test_first', 'test_last')